.OrderInfo {
    display: flex;
    width: 100%;
    background: #ffdfdf;
    height: 10rem;
    padding: 37px 37px 37px 5px;
    margin-left: 10px;
    margin-top: 10px;
}
.OrderInfo > *{
    width: 33.33%;

}
.time-2{
    color: grey;
}